In [1]:
import numpy as np
import pandas as pd

In [2]:
#import Data desde el csv
file= 'DataSetNike.csv'
dataset=pd.read_csv(file,
                       header=0,
                       sep=',',
                       parse_dates=False,
                       skip_blank_lines=True,
                 encoding='latin-1',
                   low_memory=False,)
dataset

,Store,Date,No_Tran,UPC,Material,Size,Division,Global Category,Gender,Public Price,Units,Sale Price Wo tax,Tax,Sale Price,Discount,Promo,Sales Type,Emp No,Sales Man,TTL Cost
0,TIENDA 1,9/1/2017 0:00,45372,9.120108e+10,146124-VQD,L,APPAREL,NIKE SPORTSWEAR,MENS,349.0,1,150.431035,24.068966,174.50,174.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,106.418005
1,TIENDA 1,9/1/2017 0:00,52913,9.120120e+10,662009-ZQH,L,APPAREL,NIKE SPORTSWEAR,MENS,349.0,1,210.603448,33.696552,244.30,104.70,TIERED PROMOTION VALUE 30P OFF,4 - PROMOTION,NaN,274702,106.418005
2,TIENDA 1,9/1/2017 0:00,58648,9.120137e+10,990552-HCP,5.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,516.724138,82.675862,599.40,399.60,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,340843,299.220506
3,TIENDA 1,9/1/2017 0:00,58659,9.120137e+10,990552-HCP,5.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,430.603448,68.896552,499.50,499.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,340843,299.220506
4,TIENDA 1,9/1/2017 0:00,58658,9.120137e+10,990552-HCP,5.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,-599.4,-1,-516.724138,-82.675862,-599.40,0.00,,2 - RETURNS,NaN,340843,-299.220506
5,TIENDA 1,9/1/2017 0:00,58610,9.120137e+10,990552-HCP,6.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,861.206897,137.793103,999.00,0.00,,1 - NORMAL,NaN,340843,299.220506
6,TIENDA 1,9/1/2017 0:00,52924,9.120137e+10,990552-HCP,6.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,482.275862,77.164138,559.44,439.56,TIERED PROMOTION VALUE 20P OFF,5 - EMPLOYEE DISCOUNT,338083,274702,299.220506
7,TIENDA 1,9/1/2017 0:00,52846,9.120137e+10,990552-HCP,7.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,999.0,1,301.422414,48.227586,349.65,649.35,TIERED PROMOTION VALUE 50P OFF,5 - EMPLOYEE DISCOUNT,185634,274702,299.220506
8,TIENDA 1,9/1/2017 0:00,52846,9.120141e+10,662014-IQQ,M,APPAREL,NIKE SPORTSWEAR,WOMENS,249.0,1,75.129310,12.020690,87.15,161.85,TIERED PROMOTION VALUE 50P OFF,5 - EMPLOYEE DISCOUNT,185634,274702,98.535730
9,TIENDA 1,9/1/2017 0:00,58690,9.120150e+10,327277-NNV,S,APPAREL,NIKE SPORTSWEAR,WOMENS,449.0,1,309.655172,49.544828,359.20,89.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,340843,171.137170
10,TIENDA 1,9/1/2017 0:00,45397,9.120249e+10,659994-MAU,7,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,-899.4,-1,-775.344828,-124.055172,-899.40,0.00,,2 - RETURNS,NaN,357477,-582.064528
11,TIENDA 1,9/1/2017 0:00,52970,9.120249e+10,659994-MAU,7,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,1499.0,1,1033.793103,165.406897,1199.20,299.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,274702,582.064528
12,TIENDA 1,9/1/2017 0:00,45499,9.120254e+10,212577-XEF,XS,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,301.293104,48.206897,349.50,349.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,287.652064
13,TIENDA 1,9/1/2017 0:00,58659,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,1398.0,2,602.586207,96.413793,699.00,699.00,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,340843,575.304129
14,TIENDA 1,9/1/2017 0:00,58648,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,1398.0,2,723.103448,115.696552,838.80,559.20,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,340843,575.304129
15,TIENDA 1,9/1/2017 0:00,45523,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,342.258621,54.761379,397.02,301.98,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,357477,287.652064
16,TIENDA 1,9/1/2017 0:00,58658,9.120254e+10,212577-XEF,S,APPAREL,NIKE SPORTSWEAR,WOMENS,-838.8,-2,-723.103448,-115.696552,-838.80,0.00,,2 - RETURNS,NaN,340843,-575.304129
17,TIENDA 1,9/1/2017 0:00,52846,9.120254e+10,212577-XEF,M,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,210.905172,33.744828,244.65,454.35,TIERED PROMOTION VALUE 50P OFF,5 - EMPLOYEE DISCOUNT,185634,274702,287.652064
18,TIENDA 1,9/1/2017 0:00,52937,9.120254e+10,212577-XEF,M,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,482.068966,77.131034,559.20,139.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,274702,287.652064
19,TIENDA 1,9/1/2017 0:00,58659,9.120254e+10,212577-XEF,L,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,301.293104,48.206897,349.50,349.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,340843,287.652064
20,TIENDA 1,9/1/2017 0:00,58648,9.120254e+10,212577-XEF,L,APPAREL,NIKE SPORTSWEAR,WOMENS,699.0,1,361.551724,57.848276,419.40,279.60,TIERED PROMOTION VALUE 40P OFF,4 - PROMOTION,NaN,340843,287.652064
21,TIENDA 1,9/1/2017 0:00,58658,9.120254e+10,212577-XEF,L,APPAREL,NIKE SPORTSWEAR,WOMENS,-419.4,-1,-361.551724,-57.848276,-419.40,0.00,,2 - RETURNS,NaN,340843,-287.652064
22,TIENDA 1,9/1/2017 0:00,45470,9.120297e+10,163605-LET,9,FOOTWEAR,FOOTBALL/SOCCER,MENS,1199.0,1,413.448276,66.151724,479.60,719.40,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,716.165201
23,TIENDA 1,9/1/2017 0:00,45417,9.120321e+10,660689-PGX,7,FOOTWEAR,NIKE SPORTSWEAR,MENS,-999.5,-1,-861.637931,-137.862069,-999.50,0.00,,2 - RETURNS,NaN,357477,-1020.470576
24,TIENDA 1,9/1/2017 0:00,45391,9.120321e+10,660689-PGX,7,FOOTWEAR,NIKE SPORTSWEAR,MENS,1999.0,1,861.637931,137.862069,999.50,999.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,1020.470576
25,TIENDA 1,9/1/2017 0:00,45418,9.120321e+10,660689-PGX,8,FOOTWEAR,NIKE SPORTSWEAR,MENS,999.5,1,861.637931,137.862069,999.50,0.00,,1 - NORMAL,NaN,357477,1020.470576
26,TIENDA 1,9/1/2017 0:00,45390,9.120321e+10,760862-QGY,9,FOOTWEAR,NIKE SPORTSWEAR,MENS,-1199.4,-1,-1033.965517,-165.434483,-1199.40,0.00,,2 - RETURNS,NaN,357477,-1015.662533
27,TIENDA 1,9/1/2017 0:00,52954,9.120365e+10,163518-KCS,6.5,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,849.0,1,731.896552,117.103448,849.00,0.00,,1 - NORMAL,NaN,274702,359.554153
28,TIENDA 1,9/1/2017 0:00,45461,9.120365e+10,163518-KCS,7,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,849.0,1,365.948276,58.551724,424.50,424.50,TIERED PROMOTION VALUE 50P OFF,4 - PROMOTION,NaN,357477,359.554153
29,TIENDA 1,9/1/2017 0:00,52931,9.120365e+10,163518-KCS,8,FOOTWEAR,NIKE SPORTSWEAR,WOMENS,849.0,1,585.517241,93.682759,679.20,169.80,TIERED PROMOTION VALUE 20P OFF,4 - PROMOTION,NaN,274702,359.554153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263657,TIENDA 1,9/30/2018 0:00,26144,8.880000e+11,661984-GQO,S,APPAREL,NIKE SPORTSWEAR,MENS,599.0,1,289.172414,46.267586,335.44,263.56,Store Level Promotion,4 - PROMOTION,NaN,362045,241.582276
263658,TIENDA 1,9/30/2018 0:00,26197,8.880000e+11,661984-GQO,M,APPAREL,NIKE SPORTSWEAR,MENS,599.0,1,289.172414,46.267586,335.44,263.56,Store Level Promotion,4 - PROMOTION,NaN,409947,241.582276
263659,TIENDA 1,9/30/2018 0:00,3142,8.880000e+11,661984-GQO,L,APPAREL,NIKE SPORTSWEAR,MENS,599.0,1,289.172414,46.267586,335.44,263.56,Store Level Promotion,4 - PROMOTION,NaN,269303,241.582276
263660,TIENDA 1,9/30/2018 0:00,689,8.880000e+11,762578-QRY,XL,APPAREL,NIKE SPORTSWEAR,MENS,649.0,1,391.637931,62.662069,454.30,194.70,MX NFS 30P OFF,4 - PROMOTION,NaN,351388,306.476279
263661,TIENDA 1,9/30/2018 0:00,19279,8.880000e+11,215577-STA,XL,APPAREL,NIKE SPORTSWEAR,MENS,549.0,1,331.293103,53.006897,384.30,164.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,215.196322
263662,TIENDA 1,9/30/2018 0:00,19263,8.880000e+11,454287-YNG,S,APPAREL,RUNNING,MENS,1099.0,1,606.344828,97.015172,703.36,395.64,Store Level Promotion,4 - PROMOTION,NaN,312652,389.189178
263663,TIENDA 1,9/30/2018 0:00,26200,8.880000e+11,994341-ATI,M,APPAREL,RUNNING,MENS,549.0,1,331.293103,53.006897,384.30,164.70,MX NFS 30P OFF,4 - PROMOTION,NaN,409947,211.495587
263664,TIENDA 1,9/30/2018 0:00,95006,8.880000e+11,994341-ATI,M,APPAREL,RUNNING,MENS,549.0,1,331.293103,53.006897,384.30,164.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,211.495587
263665,TIENDA 1,9/30/2018 0:00,95017,8.880000e+11,146194-BTJ,L,APPAREL,RUNNING,MENS,599.0,1,464.741379,74.358621,539.10,59.90,MX NFS 10P OFF,4 - PROMOTION,NaN,318683,169.549059
263666,TIENDA 1,9/30/2018 0:00,26174,8.880000e+11,573867-VWD,S,APPAREL,RUNNING,MENS,799.0,1,385.724138,61.715862,447.44,351.56,Store Level Promotion,4 - PROMOTION,NaN,362045,306.476279
263667,TIENDA 1,9/30/2018 0:00,95018,8.880000e+11,573867-VWD,XL,APPAREL,RUNNING,MENS,799.0,1,385.724138,61.715862,447.44,351.56,Store Level Promotion,4 - PROMOTION,NaN,318683,306.476279
263668,TIENDA 1,9/30/2018 0:00,95075,8.880000e+11,572999-XRF,L,APPAREL,RUNNING,WOMENS,899.0,1,542.500000,86.800000,629.30,269.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,357.164702
263669,TIENDA 1,9/30/2018 0:00,94928,8.880000e+11,662089-NRV,S,APPAREL,RUNNING,MENS,799.0,1,482.155172,77.144828,559.30,239.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,313.309527
263670,TIENDA 1,9/30/2018 0:00,19329,8.880000e+11,215145-ARI,M,APPAREL,RUNNING,MENS,599.0,1,361.465517,57.834483,419.30,179.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,230.013835
263671,TIENDA 1,9/30/2018 0:00,19305,8.880000e+11,215145-ARI,L,APPAREL,RUNNING,MENS,599.0,1,361.465517,57.834483,419.30,179.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,230.013835
263672,TIENDA 1,9/30/2018 0:00,95080,8.880000e+11,662114-GRO,S,APPAREL,RUNNING,MENS,899.0,1,542.500000,86.800000,629.30,269.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,297.297289
263673,TIENDA 1,9/30/2018 0:00,3111,8.880000e+11,662114-GRO,S,APPAREL,RUNNING,MENS,899.0,1,542.500000,86.800000,629.30,269.70,MX NFS 30P OFF,4 - PROMOTION,NaN,269303,297.297289
263674,TIENDA 1,9/30/2018 0:00,19309,8.880000e+11,573048-IRQ,S,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,298.331746
263675,TIENDA 1,9/30/2018 0:00,95070,8.880000e+11,573048-IRQ,M,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,298.331746
263676,TIENDA 1,9/30/2018 0:00,3111,8.880000e+11,573048-IRQ,M,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,269303,298.331746
263677,TIENDA 1,9/30/2018 0:00,19281,8.880000e+11,573048-IRQ,L,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,298.331746
263678,TIENDA 1,9/30/2018 0:00,26133,8.880000e+11,573048-IRQ,L,APPAREL,RUNNING,MENS,749.0,1,451.982759,72.317241,524.30,224.70,MX NFS 30P OFF,4 - PROMOTION,NaN,362045,298.331746
263679,TIENDA 1,9/30/2018 0:00,19302,8.880000e+11,573202-YSG,M,APPAREL,RUNNING,WOMENS,649.0,1,391.637931,62.662069,454.30,194.70,MX NFS 30P OFF,4 - PROMOTION,NaN,312652,272.703423
263680,TIENDA 1,9/30/2018 0:00,26111,8.880000e+11,573657-LUT,M,APPAREL,RUNNING,WOMENS,799.0,1,385.724138,61.715862,447.44,351.56,Store Level Promotion,4 - PROMOTION,NaN,362045,219.348722
263681,TIENDA 1,9/30/2018 0:00,19384,8.880000e+11,662699-TWB,7,FOOTWEAR,NIKE SPORTSWEAR,MENS,1799.0,1,868.482759,138.957241,1007.44,791.56,Store Level Promotion,4 - PROMOTION,NaN,312652,541.531273
263682,TIENDA 1,9/30/2018 0:00,3142,8.880000e+11,662829-TXB,S,APPAREL,FOOTBALL/SOCCER,MENS,1099.0,1,371.379310,59.420690,430.80,668.20,Store Level Promotion,4 - PROMOTION,NaN,269303,475.442545
263683,TIENDA 1,9/30/2018 0:00,26164,8.890000e+11,164064-KKS,S,APPAREL,NIKE SPORTSWEAR,WOMENS,2699.0,1,1302.965517,208.474483,1511.44,1187.56,Store Level Promotion,4 - PROMOTION,NaN,362045,1379.849891
263684,TIENDA 1,9/30/2018 0:00,95090,8.890000e+11,327345-HOP,XL,APPAREL,BASKETBALL,MENS,379.0,1,228.706897,36.593103,265.30,113.70,MX NFS 30P OFF,4 - PROMOTION,NaN,340843,561.011130
263685,TIENDA 1,9/30/2018 0:00,3075,8.890000e+11,164436-IOQ,M,APPAREL,BASKETBALL,MENS,379.0,1,228.706897,36.593103,265.30,113.70,MX NFS 30P OFF,4 - PROMOTION,NaN,269303,143.935306
263686,TIENDA 1,9/30/2018 0:00,26174,8.890000e+11,164436-IOQ,M,APPAREL,BASKETBALL,MENS,379.0,1,228.706897,36.593103,265.30,113.70,MX NFS 30P OFF,4 - PROMOTION,NaN,362045,143.935306

In [3]:
#we take only 3 variables out of 20
dataset_2= dataset.loc[:,("Material","Date","Units")]
dataset_2.head(10)

     Material           Date  Units
0  146124-VQD  9/1/2017 0:00      1
1  662009-ZQH  9/1/2017 0:00      1
2  990552-HCP  9/1/2017 0:00      1
3  990552-HCP  9/1/2017 0:00      1
4  990552-HCP  9/1/2017 0:00     -1
5  990552-HCP  9/1/2017 0:00      1
6  990552-HCP  9/1/2017 0:00      1
7  990552-HCP  9/1/2017 0:00      1
8  662014-IQQ  9/1/2017 0:00      1
9  327277-NNV  9/1/2017 0:00      1

In [4]:
dataset_2.shape

(263687, 3)

In [5]:
#data report
def data_report(data):
    colum_names= data.columns.values
    data_types= pd.DataFrame(data.dtypes,columns=["Data_type"])
    missing_data_count= pd.DataFrame(data.isnull().sum(),columns=["missing_values"])
    unique_values_count=pd.DataFrame(columns=['unique_values'])
    
    for v in list(data.columns.values):
        unique_values_count.loc[v]=[data[v].nunique()]    
        
    data_quality_report=data_types.join(missing_data_count).join(unique_values_count).transpose()

    #quick_report= data.describe() 
    return data_quality_report

In [6]:
#call data_report function
data_report(dataset_2)

               Material    Date  Units
Data_type        object  object  int64
missing_values      228       0      0
unique_values      6013     377     44

In [7]:
#drop rows where Material(SKU) are missing, 228 rows dropped
dataset_2=dataset_2.dropna(subset=['Material'])

In [8]:
dataset_2.shape

(263459, 3)

In [9]:
#drop rows where the value of units is equal or less than 0, 5561 rows are dropped
dataset_2=dataset_2[dataset_2.Units > 0]

#reset DataFrame index
dataset_2=dataset_2.reset_index(drop=True)

In [10]:
dataset_2.shape

(257898, 3)

In [11]:
dataset_2

          Material            Date  Units
0       146124-VQD   9/1/2017 0:00      1
1       662009-ZQH   9/1/2017 0:00      1
2       990552-HCP   9/1/2017 0:00      1
3       990552-HCP   9/1/2017 0:00      1
4       990552-HCP   9/1/2017 0:00      1
5       990552-HCP   9/1/2017 0:00      1
6       990552-HCP   9/1/2017 0:00      1
7       662014-IQQ   9/1/2017 0:00      1
8       327277-NNV   9/1/2017 0:00      1
9       659994-MAU   9/1/2017 0:00      1
10      212577-XEF   9/1/2017 0:00      1
11      212577-XEF   9/1/2017 0:00      2
12      212577-XEF   9/1/2017 0:00      2
13      212577-XEF   9/1/2017 0:00      1
14      212577-XEF   9/1/2017 0:00      1
15      212577-XEF   9/1/2017 0:00      1
16      212577-XEF   9/1/2017 0:00      1
17      212577-XEF   9/1/2017 0:00      1
18      163605-LET   9/1/2017 0:00      1
19      660689-PGX   9/1/2017 0:00      1
20      660689-PGX   9/1/2017 0:00      1
21      163518-KCS   9/1/2017 0:00      1
22      163518-KCS   9/1/2017 0:00      1
23      163518-KCS   9/1/2017 0:00      1
24      163518-KCS   9/1/2017 0:00      1
25      453195-LCT   9/1/2017 0:00      1
26      453195-LCT   9/1/2017 0:00      1
27      453195-LCT   9/1/2017 0:00      1
28      990849-SEA   9/1/2017 0:00      1
29      990867-KES   9/1/2017 0:00      1
...            ...             ...    ...
257868  661984-GQO  9/30/2018 0:00      1
257869  661984-GQO  9/30/2018 0:00      1
257870  661984-GQO  9/30/2018 0:00      1
257871  762578-QRY  9/30/2018 0:00      1
257872  215577-STA  9/30/2018 0:00      1
257873  454287-YNG  9/30/2018 0:00      1
257874  994341-ATI  9/30/2018 0:00      1
257875  994341-ATI  9/30/2018 0:00      1
257876  146194-BTJ  9/30/2018 0:00      1
257877  573867-VWD  9/30/2018 0:00      1
257878  573867-VWD  9/30/2018 0:00      1
257879  572999-XRF  9/30/2018 0:00      1
257880  662089-NRV  9/30/2018 0:00      1
257881  215145-ARI  9/30/2018 0:00      1
257882  215145-ARI  9/30/2018 0:00      1
257883  662114-GRO  9/30/2018 0:00      1
257884  662114-GRO  9/30/2018 0:00      1
257885  573048-IRQ  9/30/2018 0:00      1
257886  573048-IRQ  9/30/2018 0:00      1
257887  573048-IRQ  9/30/2018 0:00      1
257888  573048-IRQ  9/30/2018 0:00      1
257889  573048-IRQ  9/30/2018 0:00      1
257890  573202-YSG  9/30/2018 0:00      1
257891  573657-LUT  9/30/2018 0:00      1
257892  662699-TWB  9/30/2018 0:00      1
257893  662829-TXB  9/30/2018 0:00      1
257894  164064-KKS  9/30/2018 0:00      1
257895  327345-HOP  9/30/2018 0:00      1
257896  164436-IOQ  9/30/2018 0:00      1
257897  164436-IOQ  9/30/2018 0:00      1

[257898 rows x 3 columns]

In [12]:
#Creating a new column named "Date_list" containing the "Date" column as a list, splitted by "/"

dataset_2=dataset_2.assign(Date_list=dataset_2['Date'].str.split("/"))
dataset_2.head(10)

     Material           Date  Units          Date_list
0  146124-VQD  9/1/2017 0:00      1  [9, 1, 2017 0:00]
1  662009-ZQH  9/1/2017 0:00      1  [9, 1, 2017 0:00]
2  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]
3  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]
4  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]
5  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]
6  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]
7  662014-IQQ  9/1/2017 0:00      1  [9, 1, 2017 0:00]
8  327277-NNV  9/1/2017 0:00      1  [9, 1, 2017 0:00]
9  659994-MAU  9/1/2017 0:00      1  [9, 1, 2017 0:00]

In [13]:
#We create new columns: "Month","Day","Year" based on the lists in the column "Date_list"
dataset_2[['Month','Day','Year']] = pd.DataFrame(dataset_2.Date_list.values.tolist())
dataset_2.head(10)

     Material           Date  Units          Date_list Month Day       Year
0  146124-VQD  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
1  662009-ZQH  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
2  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
3  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
4  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
5  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
6  990552-HCP  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
7  662014-IQQ  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
8  327277-NNV  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00
9  659994-MAU  9/1/2017 0:00      1  [9, 1, 2017 0:00]     9   1  2017 0:00

In [14]:
#We eliminate the columns we will not longer need: "Date", "Date_list" and "Day"(since we will have a monthly aggregation),
# we also eliminate the hour in the "Year" column and keep only the first 4 characters of the Year string
dataset_2=dataset_2.drop(["Date","Date_list","Day"], axis=1)
dataset_2["Year"]=dataset_2.Year.str[:4]
dataset_2.head(10)

     Material  Units Month  Year
0  146124-VQD      1     9  2017
1  662009-ZQH      1     9  2017
2  990552-HCP      1     9  2017
3  990552-HCP      1     9  2017
4  990552-HCP      1     9  2017
5  990552-HCP      1     9  2017
6  990552-HCP      1     9  2017
7  662014-IQQ      1     9  2017
8  327277-NNV      1     9  2017
9  659994-MAU      1     9  2017

In [15]:
#for convinience in the data transformation process we will separate the dataset_2 in two data sets, one for each year
# one data set for 2017 and another for 2018
#we also eliminate the "Year" column

dataset_2017= dataset_2[dataset_2.Year == "2017"].drop("Year",axis=1)
dataset_2018= dataset_2[dataset_2.Year == "2018"].drop("Year",axis=1)

In [16]:
dataset_2017.shape

(91289, 3)

In [17]:
dataset_2018.shape

(166609, 3)

In [18]:
#we replace Month "9" to month "09" for ordering purposes 
dataset_2017["Month"].replace("9","09",inplace=True)

In [19]:
#we make a group by "Material" and "Month" adding the "Units" column and then we unstack "Month" column ...
#...in order to get the desired data format.
#The months where there was not sold units we filled them with "0".Also we reset the index.
# We Change the columns names.
dataset_2017=dataset_2017.groupby(['Material', 'Month']).sum().sum(
    level=['Material', 'Month']).unstack('Month').fillna(0).reset_index()

dataset_2017.columns = ['CDIGO', 'SEP.', 'OCT.','NOV.','DIC.']

dataset_2018= dataset_2018.groupby(['Material', 'Month']).sum().sum(
    level=['Material', 'Month']).unstack('Month').fillna(0).reset_index()

dataset_2018.columns = ['CDIGO','ENE','FEB.','MAR.','ABR.','MAY.','JUN.','JUL.','AGO.','SEP.']

In [20]:
dataset_2017

          CDIGO  SEP.  OCT.  NOV.   DIC.
0     145701-KAS   0.0   0.0   1.0    0.0
1     145702-TAB   0.0  14.0   4.0    0.0
2     145703-CAK   0.0   1.0   7.0    1.0
3     145705-UAC   1.0   0.0   0.0    0.0
4     145706-DAL   0.0   0.0  35.0    0.0
5     145707-MAU  16.0   9.0  25.0    2.0
6     145708-VAD   2.0   0.0   0.0    1.0
7     145710-NAV   1.0   1.0   3.0    4.0
8     145712-FAN   0.0   1.0   2.0    0.0
9     145714-XAF   0.0   0.0  43.0   61.0
10    145715-GAO   0.0   0.0  18.0   74.0
11    145719-QAY   8.0   3.0  24.0    6.0
12    145722-RAZ  39.0   3.0  19.0   10.0
13    145723-ABI   0.0   0.0   1.0    0.0
14    145724-JBR   0.0   0.0   1.0    0.0
15    145726-BBJ  37.0  13.0  28.0    3.0
16    145728-TBB   0.0   0.0   2.0    0.0
17    145729-CBK   0.0   1.0   0.0    0.0
18    145730-LBT   0.0   3.0   0.0    2.0
19    145731-UBC   5.0   3.0   1.0    0.0
20    145732-DBL   3.0   1.0   0.0    0.0
21    145733-MBU   0.0   1.0   0.0    0.0
22    145734-VBD   0.0   0.0   1.0    0.0
23    145735-EBM   3.0   1.0   0.0    0.0
24    145736-NBV   0.0   0.0   0.0    1.0
25    145739-OBW   2.0   1.0   1.0    0.0
26    145740-XBF   2.0   1.0  25.0    7.0
27    145741-GBO   2.0   1.0  75.0  125.0
28    145742-PBX   1.0   0.0   2.0    0.0
29    145743-YBG   1.0   0.0   0.0    0.0
...          ...   ...   ...   ...    ...
3228  995358-DXL   0.0   0.0   3.0   10.0
3229  995376-VXD  15.0   0.0   0.0    0.0
3230  995394-NXV  17.0   3.0   1.0    0.0
3231  995421-OYW   7.0   6.0   1.0    0.0
3232  995430-XYF   0.0   0.0  25.0    0.0
3233  995466-HYP  11.0   3.0  24.0   31.0
3234  995475-QYY   0.0   0.0  13.0    3.0
3235  995493-IYQ   0.0   0.0  30.0    0.0
3236  995520-JYR   1.0   2.0  12.0    5.0
3237  995547-KYS   3.0  33.0  38.0   19.0
3238  995556-TYB  16.0   0.0   0.0    0.0
3239  995565-CYK  10.0  20.0  26.0   10.0
3240  995574-LYT  10.0   0.0  20.0    0.0
3241  995583-UYC   1.0   0.0   0.0    0.0
3242  995610-VYD   8.0  28.0   0.0    0.0
3243  995628-NYV   1.0   3.0  13.0    8.0
3244  995637-WYE   0.0   0.0   5.0   18.0
3245  995655-OZW  12.0   3.0  26.0    0.0
3246  995718-ZZH   1.0   3.0   3.0    0.0
3247  995727-IZQ   0.0   1.0   0.0    0.0
3248  995736-RZZ   1.0   3.0  10.0    1.0
3249  995745-AZI   3.0   4.0   0.0    0.0
3250  995754-JZR   1.0   0.0   0.0    0.0
3251  995763-SZA   2.0   2.0   0.0    0.0
3252  995772-BZJ   0.0   0.0   0.0    1.0
3253  995781-KZS   0.0   0.0   0.0    1.0
3254  995790-TZB   0.0   0.0   0.0    5.0
3255  995817-UZC   0.0   0.0   0.0    4.0
3256  995844-VZD   0.0   0.0   0.0    9.0
3257  995862-NZV   0.0   0.0   0.0   16.0

[3258 rows x 5 columns]

In [21]:
dataset_2018

          CDIGO    ENE  FEB.  MAR.  ABR.  MAY.  JUN.   JUL.   AGO.   SEP.
0     145698-JAR    0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    1.0
1     145699-SAA    0.0   0.0   0.0   0.0   0.0   0.0    0.0    8.0    1.0
2     145700-BAJ   99.0   2.0   2.0   0.0   0.0   0.0    0.0    0.0    0.0
3     145703-CAK    0.0   0.0   0.0   0.0   0.0   0.0    2.0    0.0    0.0
4     145704-LAT    0.0  61.0  37.0   8.0   1.0   5.0    4.0    0.0    0.0
5     145708-VAD    3.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
6     145709-EAM    0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    1.0
7     145710-NAV    0.0   2.0   1.0   4.0   6.0   6.0    4.0    0.0    0.0
8     145711-WAE    0.0   0.0   6.0   0.0   0.0   0.0    0.0    0.0    0.0
9     145712-FAN    0.0   0.0   1.0   0.0   0.0   0.0    0.0    0.0    0.0
10    145713-OAW    0.0   0.0   1.0   0.0   0.0   0.0    0.0    0.0    0.0
11    145714-XAF    2.0   0.0   0.0   0.0   1.0   0.0    0.0    0.0    0.0
12    145715-GAO    2.0   0.0   3.0   0.0   0.0   1.0    0.0    0.0    0.0
13    145716-PAX    0.0  12.0   9.0   0.0   0.0   0.0    0.0    0.0    0.0
14    145717-YAG    0.0  96.0   4.0   0.0   0.0  10.0   40.0   50.0    0.0
15    145718-HAP    0.0   5.0   1.0  23.0  39.0   8.0    6.0    0.0    0.0
16    145719-QAY    7.0   0.0   0.0   0.0   0.0   2.0    7.0    8.0    4.0
17    145720-ZAH    0.0   0.0   0.0   0.0   0.0   0.0    0.0  103.0   96.0
18    145721-IAQ    0.0   0.0   0.0   0.0   0.0  15.0  106.0   36.0   55.0
19    145722-RAZ    1.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
20    145723-ABI    1.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
21    145725-SBA    0.0   0.0   0.0  19.0  28.0   1.0    0.0    0.0    0.0
22    145727-KBS   33.0  70.0  63.0  82.0  34.0  13.0   24.0    9.0   14.0
23    145733-MBU    0.0   0.0   0.0   0.0   1.0   0.0    0.0    0.0    0.0
24    145737-WBE    2.0   7.0   3.0   7.0   3.0   7.0    5.0   25.0   21.0
25    145738-FBN    0.0  18.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
26    145740-XBF    5.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
27    145741-GBO   15.0  65.0  18.0   3.0   3.0   7.0    4.0    0.0    0.0
28    145745-QBY   68.0  24.0   7.0   1.0   2.0   6.0    2.0    0.0    0.0
29    145746-ZBH   23.0  39.0   2.0   2.0   8.0   4.0   13.0    5.0    8.0
...          ...    ...   ...   ...   ...   ...   ...    ...    ...    ...
4589  995529-SYA    0.0   0.0   0.0   3.0   3.0   4.0    9.0    6.0    2.0
4590  995538-BYJ   20.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4591  995547-KYS   19.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4592  995592-DYL   22.0  25.0  11.0  34.0   3.0   0.0    0.0    0.0    0.0
4593  995601-MYU    0.0   0.0   0.0   0.0   0.0   4.0   14.0   29.0   30.0
4594  995619-EYM    0.0   0.0   0.0   0.0   0.0   0.0    0.0    2.0   49.0
4595  995628-NYV    2.0   4.0   0.0   1.0   1.0   0.0    0.0    0.0    0.0
4596  995637-WYE    1.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4597  995646-FYN    0.0   0.0  34.0   0.0   7.0   0.0    0.0    0.0    0.0
4598  995664-XZF    1.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4599  995673-GZO    0.0   0.0   0.0   0.0  62.0  16.0    0.0    0.0    0.0
4600  995682-PZX    0.0   0.0   0.0  29.0   0.0   0.0    1.0    0.0    0.0
4601  995691-YZG    1.0   1.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4602  995700-HZP    3.0  34.0  47.0  33.0  17.0   0.0    0.0    0.0    0.0
4603  995709-QZY    4.0   0.0   0.0   0.0   2.0   0.0    0.0    0.0    0.0
4604  995718-ZZH    0.0   0.0   0.0   0.0   1.0   0.0    2.0    0.0    0.0
4605  995736-RZZ    3.0   0.0   0.0   5.0   1.0   1.0    1.0    0.0    0.0
4606  995772-BZJ    9.0   1.0   8.0   0.0   0.0   0.0    1.0    0.0    4.0
4607  995781-KZS    4.0   0.0   0.0   3.0   4.0   2.0    5.0    2.0    0.0
4608  995790-TZB  137.0  79.0  94.0  14.0  42.0  15.0   45.0   51.0   29.0
4609  995799-CZK    0.0   0.0   0.0   0.0   4.0   1.0    2.0    1.0    2.0
4610  995808-LZT    0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    1.0
4611  995817-UZC    0.0   0.0   2.0   2.0   4.0   2.0    2.0    3.0    2.0
4612  995826-DZL    0.0   0.0   0.0   0.0   0.0   2.0   23.0   15.0    3.0
4613  995835-MZU    0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0  143.0
4614  995844-VZD   10.0   2.0   3.0   4.0   4.0   0.0    2.0    4.0    1.0
4615  995853-EZM    0.0  60.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4616  995862-NZV    6.0   0.0   1.0   4.0   2.0   0.0    0.0    0.0    0.0
4617  995871-WZE   30.0  49.0   0.0   0.0   0.0   0.0    0.0    0.0   63.0
4618  995880-FZN    0.0   0.0   0.0   0.0   0.0   0.0    1.0    4.0    2.0

[4619 rows x 10 columns]

In [22]:
#insert "AO" column as Int64 data type, in the "1" position 
dataset_2017.insert(1,"AO",2017)
dataset_2018.insert(1,"AO",2018)

In [23]:
#Nike data types

data_report(dataset_2017)

                CDIGO    AO     SEP.     OCT.     NOV.     DIC.
Data_type       object  int64  float64  float64  float64  float64
missing_values       0      0        0        0        0        0
unique_values     3258      1       67       48      115      121

In [24]:
#Change data types to match sku(fandali) csv file 

#from float64 to int64
dataset_2017[['SEP.', 'OCT.','NOV.','DIC.']] = dataset_2017[['SEP.', 'OCT.','NOV.','DIC.']].astype(np.int64)
#from int64 to object(string)
dataset_2017[['SEP.', 'OCT.','NOV.','DIC.']] = dataset_2017[['SEP.', 'OCT.','NOV.','DIC.']].astype(str)

#from float64 to int64
dataset_2018[['ENE','FEB.','MAR.','ABR.','MAY.','JUN.','JUL.','AGO.','SEP.']] = dataset_2018[[
    'ENE','FEB.','MAR.','ABR.','MAY.','JUN.','JUL.','AGO.','SEP.']].astype(np.int64)
#from int64 to object(string)
dataset_2018[['ENE','FEB.','MAR.','ABR.','MAY.','JUN.','JUL.','AGO.','SEP.']] = dataset_2018[[
    'ENE','FEB.','MAR.','ABR.','MAY.','JUN.','JUL.','AGO.','SEP.']].astype(str)

In [25]:
#adding missing columns to match  sku(fandali) csv file 
dataset_2017.insert(2,"ENE","0")
dataset_2017.insert(3,"FEB.","0")
dataset_2017.insert(4,"MAR.","0")
dataset_2017.insert(5,"ABR.","0")
dataset_2017.insert(6,"MAY.","0")
dataset_2017.insert(7,"JUN.","0")
dataset_2017.insert(8,"JUL.","0")
dataset_2017.insert(9,"AGO.","0")


dataset_2018.insert(11,"OCT.","0")
dataset_2018.insert(12,"NOV.","0")
dataset_2018.insert(13,"DIC.","0")

In [26]:
dataset_2017.head(15)

,CDIGO,AO,ENE,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.
0,145701-KAS,2017,0,0,0,0,0,0,0,0,0,0,1,0
1,145702-TAB,2017,0,0,0,0,0,0,0,0,0,14,4,0
2,145703-CAK,2017,0,0,0,0,0,0,0,0,0,1,7,1
3,145705-UAC,2017,0,0,0,0,0,0,0,0,1,0,0,0
4,145706-DAL,2017,0,0,0,0,0,0,0,0,0,0,35,0
5,145707-MAU,2017,0,0,0,0,0,0,0,0,16,9,25,2
6,145708-VAD,2017,0,0,0,0,0,0,0,0,2,0,0,1
7,145710-NAV,2017,0,0,0,0,0,0,0,0,1,1,3,4
8,145712-FAN,2017,0,0,0,0,0,0,0,0,0,1,2,0
9,145714-XAF,2017,0,0,0,0,0,0,0,0,0,0,43,61
10,145715-GAO,2017,0,0,0,0,0,0,0,0,0,0,18,74
11,145719-QAY,2017,0,0,0,0,0,0,0,0,8,3,24,6
12,145722-RAZ,2017,0,0,0,0,0,0,0,0,39,3,19,10
13,145723-ABI,2017,0,0,0,0,0,0,0,0,0,0,1,0
14,145724-JBR,2017,0,0,0,0,0,0,0,0,0,0,1,0

In [27]:
dataset_2018.head(15)

,CDIGO,AO,ENE,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.
0,145698-JAR,2018,0,0,0,0,0,0,0,0,1,0,0,0
1,145699-SAA,2018,0,0,0,0,0,0,0,8,1,0,0,0
2,145700-BAJ,2018,99,2,2,0,0,0,0,0,0,0,0,0
3,145703-CAK,2018,0,0,0,0,0,0,2,0,0,0,0,0
4,145704-LAT,2018,0,61,37,8,1,5,4,0,0,0,0,0
5,145708-VAD,2018,3,0,0,0,0,0,0,0,0,0,0,0
6,145709-EAM,2018,0,0,0,0,0,0,0,0,1,0,0,0
7,145710-NAV,2018,0,2,1,4,6,6,4,0,0,0,0,0
8,145711-WAE,2018,0,0,6,0,0,0,0,0,0,0,0,0
9,145712-FAN,2018,0,0,1,0,0,0,0,0,0,0,0,0
10,145713-OAW,2018,0,0,1,0,0,0,0,0,0,0,0,0
11,145714-XAF,2018,2,0,0,0,1,0,0,0,0,0,0,0
12,145715-GAO,2018,2,0,3,0,0,1,0,0,0,0,0,0
13,145716-PAX,2018,0,12,9,0,0,0,0,0,0,0,0,0
14,145717-YAG,2018,0,96,4,0,0,10,40,50,0,0,0,0

In [28]:
#add together 2017 and 2018 data sets to get the final dataset matching the sku(fandali) csv file 
final_dataset=dataset_2017.append(dataset_2018)

In [29]:
final_dataset

,CDIGO,AO,ENE,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.
0,145701-KAS,2017,0,0,0,0,0,0,0,0,0,0,1,0
1,145702-TAB,2017,0,0,0,0,0,0,0,0,0,14,4,0
2,145703-CAK,2017,0,0,0,0,0,0,0,0,0,1,7,1
3,145705-UAC,2017,0,0,0,0,0,0,0,0,1,0,0,0
4,145706-DAL,2017,0,0,0,0,0,0,0,0,0,0,35,0
5,145707-MAU,2017,0,0,0,0,0,0,0,0,16,9,25,2
6,145708-VAD,2017,0,0,0,0,0,0,0,0,2,0,0,1
7,145710-NAV,2017,0,0,0,0,0,0,0,0,1,1,3,4
8,145712-FAN,2017,0,0,0,0,0,0,0,0,0,1,2,0
9,145714-XAF,2017,0,0,0,0,0,0,0,0,0,0,43,61
10,145715-GAO,2017,0,0,0,0,0,0,0,0,0,0,18,74
11,145719-QAY,2017,0,0,0,0,0,0,0,0,8,3,24,6
12,145722-RAZ,2017,0,0,0,0,0,0,0,0,39,3,19,10
13,145723-ABI,2017,0,0,0,0,0,0,0,0,0,0,1,0
14,145724-JBR,2017,0,0,0,0,0,0,0,0,0,0,1,0
15,145726-BBJ,2017,0,0,0,0,0,0,0,0,37,13,28,3
16,145728-TBB,2017,0,0,0,0,0,0,0,0,0,0,2,0
17,145729-CBK,2017,0,0,0,0,0,0,0,0,0,1,0,0
18,145730-LBT,2017,0,0,0,0,0,0,0,0,0,3,0,2
19,145731-UBC,2017,0,0,0,0,0,0,0,0,5,3,1,0
20,145732-DBL,2017,0,0,0,0,0,0,0,0,3,1,0,0
21,145733-MBU,2017,0,0,0,0,0,0,0,0,0,1,0,0
22,145734-VBD,2017,0,0,0,0,0,0,0,0,0,0,1,0
23,145735-EBM,2017,0,0,0,0,0,0,0,0,3,1,0,0
24,145736-NBV,2017,0,0,0,0,0,0,0,0,0,0,0,1
25,145739-OBW,2017,0,0,0,0,0,0,0,0,2,1,1,0
26,145740-XBF,2017,0,0,0,0,0,0,0,0,2,1,25,7
27,145741-GBO,2017,0,0,0,0,0,0,0,0,2,1,75,125
28,145742-PBX,2017,0,0,0,0,0,0,0,0,1,0,2,0
29,145743-YBG,2017,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,995529-SYA,2018,0,0,0,3,3,4,9,6,2,0,0,0
4590,995538-BYJ,2018,20,0,0,0,0,0,0,0,0,0,0,0
4591,995547-KYS,2018,19,0,0,0,0,0,0,0,0,0,0,0
4592,995592-DYL,2018,22,25,11,34,3,0,0,0,0,0,0,0
4593,995601-MYU,2018,0,0,0,0,0,4,14,29,30,0,0,0
4594,995619-EYM,2018,0,0,0,0,0,0,0,2,49,0,0,0
4595,995628-NYV,2018,2,4,0,1,1,0,0,0,0,0,0,0
4596,995637-WYE,2018,1,0,0,0,0,0,0,0,0,0,0,0
4597,995646-FYN,2018,0,0,34,0,7,0,0,0,0,0,0,0
4598,995664-XZF,2018,1,0,0,0,0,0,0,0,0,0,0,0
4599,995673-GZO,2018,0,0,0,0,62,16,0,0,0,0,0,0
4600,995682-PZX,2018,0,0,0,29,0,0,1,0,0,0,0,0
4601,995691-YZG,2018,1,1,0,0,0,0,0,0,0,0,0,0
4602,995700-HZP,2018,3,34,47,33,17,0,0,0,0,0,0,0
4603,995709-QZY,2018,4,0,0,0,2,0,0,0,0,0,0,0
4604,995718-ZZH,2018,0,0,0,0,1,0,2,0,0,0,0,0
4605,995736-RZZ,2018,3,0,0,5,1,1,1,0,0,0,0,0
4606,995772-BZJ,2018,9,1,8,0,0,0,1,0,4,0,0,0
4607,995781-KZS,2018,4,0,0,3,4,2,5,2,0,0,0,0
4608,995790-TZB,2018,137,79,94,14,42,15,45,51,29,0,0,0
4609,995799-CZK,2018,0,0,0,0,4,1,2,1,2,0,0,0
4610,995808-LZT,2018,0,0,0,0,0,0,0,0,1,0,0,0
4611,995817-UZC,2018,0,0,2,2,4,2,2,3,2,0,0,0
4612,995826-DZL,2018,0,0,0,0,0,2,23,15,3,0,0,0
4613,995835-MZU,2018,0,0,0,0,0,0,0,0,143,0,0,0
4614,995844-VZD,2018,10,2,3,4,4,0,2,4,1,0,0,0
4615,995853-EZM,2018,0,60,0,0,0,0,0,0,0,0,0,0
4616,995862-NZV,2018,6,0,1,4,2,0,0,0,0,0,0,0
4617,995871-WZE,2018,30,49,0,0,0,0,0,0,63,0,0,0
4618,995880-FZN,2018,0,0,0,0,0,0,1,4,2,0,0,0

In [30]:
#final_dataset data report

data_report(final_dataset)

,CDIGO,AO,ENE,FEB.,MAR.,ABR.,MAY.,JUN.,JUL.,AGO.,SEP.,OCT.,NOV.,DIC.
Data_type,object,int64,object,object,object,object,object,object,object,object,object,object,object,object
missing_values,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unique_values,6005,2,118,99,94,94,91,56,71,77,80,48,115,121

In [31]:
#convertir final_dateset a CSV
final_dataset.to_csv('DataSetNike_sku.csv',encoding='latin-1',index=False)